@model IEnumerable<LEHUUQUAN.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">
    @foreach (var item in Model)
    {
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong>@item.tenphim</strong>
        </div>
        <div class="panel-body">
            <p><strong>Tên phim : </strong>@item.tenphim</p>
            <p><strong>Đạo diễn : </strong>@item.daodien</p>
            <p><img src="@item.hinh" width="270S" alt="thumnail" /></p>
            <p><strong>Ngày chiếu : </strong>@item.ngaychieu</p>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <div class="Dangchieu">
                    <a class="btn btn-success" href="@Url.Action("ThemGioHang","GioHang",new {@id = item.ngaychieu,@strURL = Request.Url.ToString()} )">Đang chiếu</a>
                </div>
            </div>
        </div>
    </div>
</div>}
</div>
